mixin tableRow(cue)
  th(scope="row")
  td
    =cue.cuePos
  td
    span(hx-trigger="dblclick" hx-post=`/api/cue/${cue.cuePos}/edit/cueNum` hx-swap="outerHTML")
      =cue.cueNum
  td
    span(hx-trigger="dblclick" hx-post=`/api/cue/${cue.cuePos}/edit/title` hx-swap="outerHTML")
      =cue.title
  td
    span(hx-trigger="dblclick" hx-post=`/api/cue/${cue.cuePos}/edit/posStart` hx-swap="outerHTML")
      =cue.posStart
  td
    span(hx-trigger="dblclick" hx-post=`/api/cue/${cue.cuePos}/edit/duration` hx-swap="outerHTML")
      =cue.duration
  td
    span(hx-trigger="dblclick" hx-post=`/api/cue/${cue.cuePos}/edit/title` hx-swap="outerHTML")
      =cue.posEnd
  td Follow
  td
    button.btn.btn-warning(
      hx-post=`/api/cue/${cue.cuePos}/edit`
      hx-target="closest tr" hx-swap="innerHTML"
    )= "Edit"
    button.btn.btn-danger(
      hx-delete=`/api/cue/${cue.cuePos}`
      hx-target="#cuesheet" hx-swap="innerHTML"
    )= "Delete"



h2 Cuesheet
button(hx-get="/api/cuesheet", hx-target="#cuesheet" hx-swap="innerHTML") Refresh
button(hx-post="/api/clear", hx-target="#cuesheet") Clear List
div(hx-trigger="keyup[key=='ArrowDown'] from:body" hx-post="/api/cue/next" hx-target="#cuesheet" hx-swap="innerHTML")
div(hx-trigger="keyup[key=='ArrowUp'] from:body" hx-post="/api/cue/prev" hx-target="#cuesheet" hx-swap="innerHTML")
div(hx-trigger="keyup[keyCode==32] from:body" hx-post="/api/cue/play" hx-target="#cuesheet" hx-swap="innerHTML")
table.table.table-dark
  thead
    tr
      th(scope="col")
      th(scope="col") Position
      th(scope="col") Number
      th(scope="col") Name
      th(scope="col") Pre-Wait
      th(scope="col") Duration
      th(scope="col") Post-Wait
      th(scope="col") Post-Action
      th(scope="col") Buttons
  tbody
    each cue in cuesheet
      if cue.selected
        tr.cue.table-active
          +tableRow(cue)
      else
        tr.cue(hx-trigger="click" hx-get="/api/cue/"+cue.cuePos hx-target="#cuesheet")
          +tableRow(cue)
