h1 Upload
div#mediapool
form#dropform(
  hx-encoding="multipart/form-data",
  hx-post="/upload",
  hx-swap="innerHTML",
  hx-target="#mediapool"
)
  div#dropzone

    input#file-input(
      type="file",
      name="media",
      multiple,
      hidden
    )
    label(for="media")
      strong Choose a file
      span.dragndrop  or drag it here

  ul#filelist
  progress#progress(value='0', max='100')
  button#upload upload
script(src='/src/dropzone.js')
