.modal.fade#ytdlModal(tabindex="-1" aria-labelledby="ytdlModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        h1.modal-title.fs-5#ytdlModalLabel YouTube Downloader
        a.btn.btn-lg(href="/upload")
          i.bi.bi-box-arrow-right
        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
      form#youtube-dl(
        hx-encoding="multipart/form-data",
        hx-post="/youtube",
        hx-swap="innerHTML",
        hx-target="#mediapool"
      )
        .modal-body
          label.form-label(for="url") YouTube URL&nbsp;
          input.form-control#url(
            type="url",
            name="url",
            placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
          )
          span#info
        .modal-footer
          button.btn.btn-danger#download Download
